// COLORS
$primary-color: #ffcc00;
$secondary-color: #dfb305;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #fff;
$fade-out-background: rgba(0, 0, 0, 0.3);

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
